# Entorno en el que se ejecuta la aplicación.
APP_ENV=development

# Indica si se permiten mensajes detallados de depuración.
APP_DEBUG=true

# Servidor donde está ejecutándose MySQL.
DB_HOST=127.0.0.1

# Puerto de MySQL.
DB_PORT=3306

# Nombre de la base de datos que utilizará ManGo!.
DB_DATABASE=mango

# Usuario de MySQL.
DB_USERNAME=root

# Contraseña del usuario de MySQL.
# En un entorno real nunca debe guardarse una contraseña aquí si el archivo se comparte.
DB_PASSWORD=
